<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="width: 600px;margin: 0 auto;">
  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
        <span style="color: red;">{{ field.errors.0 }}</span>
      </div>
    {% endfor %}
    <input type="submit" value="提交" class="btn btn-primary">
  </form>
</div>
</body>
</html>